.main-form {
  background-color: #f3f2f7;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

::placeholder {
  color: #000000;
  opacity: 0.3; /* Firefox */
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #1e1e1e;
  font-family: "Montserrat", sans-serif;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

form {
  display: block;
  margin-top: 0em;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-check {
  position: relative;
  display: block;
}

.form-check:last-child {
  padding-left: 1.25rem;
}
